<footer class="footer mt-auto bg-dark text-center">
    <div class="container-fluid py-2 d-flex justify-content-between align-items-center">
        <p class="text-white my-2 text-start ">
            <i class="fa-solid fa-square-check me-3 fa-2xl"></i>
            <i class="fa-solid fa-copyright" style="color: #ffffff;"></i> {{currentYear}} {{texto}}

             
        </p>

        <div class="social-icons text-white">
            <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer">
                <i class="text-white fa-brands fa-square-facebook fa-xl"></i> 
            </a>

            <a href="http://www.instagram.com" target="_blank" rel="noopener noreferrer">
                <i class="text-white fa-brands fa-square-instagram fa-xl ms-2"></i>
            </a>

            <a href="http://www.twitter.com" target="_blank" rel="noopener noreferrer">
                <i class="text-white fa-brands fa-square-x-twitter fa-xl ms-2"></i>
            </a>

            <a href="http://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                <i class="text-white fa-brands fa-linkedin fa-xl ms-2"></i>
            </a>
        </div>
    </div>

    
</footer>
