<nav class="navbar">
    <div class="container-fluid ps-5">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/imagotype.png" alt="Logo" width="200" height="" class="d-inline-block align-text-top">
      </a>
    </div>
</nav>
<div class="container-fluid" >
    <div class="row bg-body-tertiary  ps-5 align-items-center" style="height:500px;" >
        <div class="col-12 col-md-7 ps-5 font-monospace">
            <h1 >Lo sentimos</h1>
            <h4>La página que buscas no se encuentra.</h4>
            <p>Es posible que el link esté mal escrito o la página haya sido movida a otra sección</p>
            <!-- <button type="button" class="btn btn-outline-dark">IR AL INICIO</button> -->
            <button type="button" class="btn btn-outline-secondary font-monospace">IR AL INICIO</button>
        </div>
        <div class="col-12 col-md-5">
            <div class="text-center">
                <img src="../../../assets/images/sad.png" class="rounded-5" alt="" width="300" height="300">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

